<div class="card border-dark mb-3" *ngIf="pokemon">
  <div class="card-header">Info del pokemon</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{pokemon.name}}</h5>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <img [src]="pokemon.sprites.back_default" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.back_female" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.back_shiny" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.back_shiny_female" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.front_default" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.front_female" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.front_shiny" alt="">
        </div>
        <div class="col">
          <img [src]="pokemon.sprites.front_shiny_female" alt="">
        </div>
      </div>
    </div>
  </div>
</div>